@media all and (max-width:799px){

    .sidebar_container{
        display: none;
    }
}
@media all and (min-width:800px) {
    
    .sidebar_container{
        margin-top: 2vh;
        flex:1;
        min-width:250px;
    justify-content: center;
    
 
    hr{
        height: 0;
        border: 0.5px solid rgb(230,227,227);
        width: 60%;
        margin:10px auto
    }
    .options{
        
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            .title{
                text-align: center;
                font:15px bold;
                color:#666;
                

            }
            li{
                margin:10px 15px;
                display: flex;
                justify-content: center;
                border-radius: 10px;
                display: flex;
                align-items: center;
                padding: 7px;
                cursor: pointer;
                &:hover{
                    background-color: #6439ff45;
                }
                
                .icon{
                    font-size: 24px;
                    color: #6439ff;
                    
                }
                .option_text{
                    font-size: 16px;
                    font-weight: 500;
                    color: #555;
                    margin: 10px;
                }
            }
        }
        
    }
}
.element_clicked{
    background-color: #6439ff45
}
}