.navbar_container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    z-index: 10;
    top: 0px;
    position: sticky;
    width: 100%;
    left:0px;
    right:0px;
    transition: margin-top .2s cubic-bezier(.4,0,.2,1);
    max-width: calc(1440px - 3rem);
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display:flex;
    background-color:white;
    color:rgb(200, 220, 255);
    //max-width:98vw; 
    height: 7vh;
    min-height: 70px;
    justify-content: space-between;
    .right_side{
        justify-content: flex-end;
    }
    .left_side{
        position: absolute;
        left:0px;
    }
    .flex_grow {
        flex-grow: 1;
    }
}