.nav_drawer{
    .bottom_push{
        position: absolute;
        bottom: 0;
        text-align: center;
        padding-bottom: 10;
    }
    
}

    .menu_button{
    left: 0;
    top: 0;
    border-radius: inherit;
    min-height: 40px;
    min-width: 40px;
    background-color: black;
    }
    .Icon_text{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .logo{
        align-items: center;
        display: flex;
        color: inherit;
        text-decoration: inherit;
        .logo_text{
            height:28px;
        }
        .logo_img{
            margin-right: 0.5rem;
            max-width: 100%;
            height: auto;
            display: block;
            border-style: solid;
        }
    }